@import "config";
@import "utils";
@import "form";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 3px $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }
  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
    transition: all 0.3s ease;

    &:hover {
      color: $primary-color;
    }
  }
}

// Landing
.landing {
  position: relative;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh;

  &-inner {
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// Footer
footer {
  padding: 1.3rem;
  font-weight: 500;
  background-color: $dark-color;
  color: #ffffff;
  // position: absolute;
  // width: 100%;
  // left: 0;
  // bottom: 0;
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
  }
}

// Profiles Page

.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  grid-gap: 2rem;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
  // border-radius: 5px;
}

// Profile Page
.profile-grid {
  display: grid;
  grid-template-areas:
    "top top"
    "about about"
    "experience education"
    "github github";
  grid-gap: 1rem;

  .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img {
      width: 250px;
    }

    .icons a {
      color: #ffffff;
      margin: 0 0.3rem;
      transition: all 0.3s ease;

      &:hover {
        color: $dark-color;
      }
    }
  }
  .profile-about {
    grid-area: about;
    text-align: center;

    .skills {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }
  }
  .profile-experience {
    grid-area: experience;
  }
  .profile-education {
    grid-area: education;
  }

  .profile-experience,
  .profile-education {
    & > div {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: #ccc 1px dotted;

      &:last-child {
        border: none;
      }
    }

    p {
      margin: 0.5rem 0;
    }
  }

  .profile-github {
    grid-area: github;

    .repo {
      display: flex;

      & > div:first-child {
        flex: 7;
        flex-basis: 70%;
      }
      & > div:last-child {
        flex: 3;
        flex-basis: 20%;
      }
    }
  }
}

// Posts Page
.post-form-header {
  padding: 0.5rem;
}

.post {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2rem;
  align-items: center;

  & > div:first-child {
    text-align: center;
  }
  img {
    width: 150px;
  }
}

// Comments
.comment-count {
  background-color: $light-color;
  color: $dark-color;
  padding: 0 6px;
  border-radius: 4px;
  margin-left: 6px;
}

// ScrollBar

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  opacity: 0.1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($primary-color, 10);
}

@import "mobile";
